@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); 

body{
    font-family: 'Poppins', sans-serif;
}

.header{
    background-image: url(../../public/blue.jpg);
    background-size: cover;
    height: 100vh;
}



.typing-container {
    margin-top: 160px;
}

.typing{
    width: 70%;
    margin: auto;
    font-size: 40px;
    color: #d6d7ff;
}


.text {
    font-size: 40px;
}


.photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.circle-cover {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: #130F49 3px solid;

}

.circle-cover img {
    display: block;
    width: 60%;
    height: 100%;

}

.basic-header-info{
    margin-top: 30px;
}

.w-35{
    width: 35%;
}

#got-project-btn{
    background-color: #130F49;
}

#lets-talk-btn{
    color: #130F49;
    border: #130F49 1px solid;
}

#stack-btns-container{
    margin-top: 30px;
}

.addresses-container{
    margin-top: 50px;
    font-size: 15px;
    border-left: 4px solid #FF972D;
    padding-left: 10px;

}

.addresses-container > a{
    text-decoration: none;
}

.nav-link{
    color: '#d6d7ff'
}

@media (max-width: 576px) {
    .header{
        height: 135vh;
        background-color: blue;
        position: relative;
    }
    .photo-container{
        position: absolute;
        top:0; 
        margin-top: 50px;
    }
    .circle-cover{
        border: none;
    }
    .typing-container{
        text-align: center;
        margin-top: 450px;
    }
    
}

@media (min-width: 577px) and (max-width: 767px) {
    .header{
        height: 130vh;
        background-color: blue;
        position: relative;
    }
    .photo-container{
        position: absolute;
        top:0; 
        margin-top: 50px;
    }
    .circle-cover{
        border: none;
    }
    .typing-container{
        text-align: center;
        margin-top: 450px;
    }
}

